.descricaoContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}
.descricao{
    display: flex;
    flex-direction: column;
}
.descricao p{
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.descricao span {
    color: red;
    font-weight: bold;
}
.banner{
    height: 400px;
}