.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px groove #868da0;
  padding: 0.5em;
  background-color: #eef3f8;
}
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
}
